.metadata/
*.pydevproject
.metadata
.idea
.gradle
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.loadpath
NgeeAnnFoodService/*
NgeeAnnFoodService/
HypixelStatistics
HypixelStatistics/*
SteamMD
SteamMD/*
FanfictionReader
FanfictionReader/*
HTCSerialIdentification
HTCSerialIdentification/*

# External tool builders
.externalToolBuilders/

# Locally stored "Eclipse launch configurations"
*.launch

# CDT-specific
.cproject

# PDT-specific
.buildpath

# sbteclipse plugin 
.target

# TeXlipse plugin
.texlipse